
:root {--base-font-size: 1vw;} /* Define a base font size */


html {
  font-size: var(--base-font-size); /* Use the base font size */
  scroll-behavior: smooth; /* Smooth scrolling for the return to top function */
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('bg.png');
  background-repeat: repeat;
  background-size: 15px;
}

header, footer {width: 100%;}

header {
  font-size: 1.5em;
  height: 16.5vw;
  color: white;
  text-align: left;
  padding-left: 3vw;
  padding-top: 2vw;
  box-sizing: border-box;
  background-image: url(HEADER.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 255, 255, 0);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: auto;
  font-size: 0.7em;
  text-align: left;
  height: 2.5vw; 
  padding: 0.5vw 2vw; 
  box-sizing: border-box; 
  background-color: #3f383c;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  width: 85%;
  background-color: #0099ff00;
  margin: 0 auto;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content; 
}

.bio-skills {
  display: flex;
  align-items: center; 
  height: 15vw;
}

.left-column, .right-column {
  display: flex;
  align-items: center; 
}

.left-column {
  width: 70%;
  padding: 2vw;
}

.right-column {
  width: 30%;
  padding: 2vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img {
  width: 70%;
  height: auto;
  display: block;
  box-shadow: 0px 0px 5px rgba(90, 90, 90, 0.47); /* Faint drop shadow */
}

header p {
  margin: 0; /* Remove default margin */
  padding-bottom: 1.5vw;
}

h3 {
  display: block;
  background: linear-gradient(90deg,  #e51f57, #cd4827); /* Add a gradient to the header bars */
  padding: 0.5em;
  font-size: 1.5em;
  padding-left: 3vw; 
  margin-top: 3vw;
  color: white;
}

.pair-container {display: flex;}

.pair-container_lighthouse {display: flex;}

.pair-container p {font-size: 0.8em;}

.pair {
  display: flex;
  flex: 1 1 calc(25% - 10px); /* This lets each pair to take up 25% of the container width, minus some margin */
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  margin: 0vw;
  padding: 0.5vw;
  text-align: center;
  background-color: rgba(0, 255, 255, 0);
}

.pair img {
  will-change: transform;
  width: 95%;
  height: auto;
  display: block;
  transition: transform 0.3s;
  cursor: pointer;
}

.pair p {color: white;}

.pair img:hover {transform: scale(1.013);}

.nav-top {
  margin-left: auto; /* Push the nav to the right */
  margin-right: 4vw;
}

.nav-top-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-top-ul li {margin-left: 2vw;}

.returntop {
  position: fixed;
  display: block;
  bottom: 2vw;
  right: 2vw;
}

.returntop img {
  width: 3.5vw;
  height: 3.5vw;
  object-fit: contain;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.programimage {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  max-width: 12vw;
  pointer-events: none;
}

a {
  color: #e51f57;
  text-decoration: none; 
}

a:hover {
  color: #e51f57;
  text-decoration: underline;
}

a:active {color: #e51f57;}

a:visited {color: #e51f57;}


.footerlink a {
  color: #ffffff; 
  text-decoration: none; 
}

.footerlink a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footerlink a:active {color: #ffffff;}

.footerlink a:visited {color: #ffffff;}